<h1><%= @question.title %>, QID: <%= @question.id %></h1>
<p><h2>question.content:</h2></p>
<p><%= @question.content %></p>
  <h3>question.vote_count <%= @question.vote_count %></h3>

<%= link_to_unless(current_user.nil?, "UpVoteQ", new_vote_path(:voteable_id => @question.id, :voteable_type => "Question", :vote_type => "up")) do |name| link_to("#{name}? Login!", new_session_path) end %><br>

<%= link_to_unless(current_user.nil?, "DownVoteQ", new_vote_path(:voteable_id => @question.id, :voteable_type => "Question", :vote_type => "down")) do |name| link_to("#{name}? Login!", new_session_path) end %><br>

<p><h3>question.comments:</h3></p>

<% @question.comments.each do |q_comment| %>
  <p><%= q_comment.content %></p>
<% end %>
<%= link_to_unless(current_user.nil?, "Comment on Question", new_comment_path(:commentable_id => @question.id, :commentable_type => "Question")) do |name|
        link_to("#{name}? Login!", new_session_path) end %>

<p><h2>answers:</h2></p>
<% @answers.each do |answer| %>

  <h3>answer.content:</h3>
  <p><%= answer.content %></p>

  <h3>answer.vote_count <%= answer.vote_count %></h3>

<%= link_to_unless(current_user.nil?, "UpVoteAns", new_vote_path(:voteable_id => answer.id, :voteable_type => "Answer", :vote_type => "up", :question => @question.id)) do |name| link_to("#{name}? Login!", new_session_path) end %><br>

<%= link_to_unless(current_user.nil?, "DownVoteAns", new_vote_path(:voteable_id => answer.id, :voteable_type => "Answer", :vote_type => "down", :question => @question.id)) do |name| link_to("#{name}? Login!", new_session_path) end %><br>

  <h3>answer.comments:</h3>
  <% answer.comments.each do |comment| %>
    <h3>comment.content</h3>
    <p><%= comment.content %></p>
    <%= link_to_unless(current_user.nil?, "Comment on Answer", new_comment_path(:commentable_id => answer.id, :commentable_type => "Answer")) do |name|
        link_to("#{name}? Login!", new_session_path) end %>
  <% end %>
<% end %>
